<ul>
<li>
{{#link-to 'nuevo-criterio'}}
<button type="button" name="button">Añadir criterio</button>
{{/link-to}}
</li>
<li>
{{#link-to 'inicio'}}
  inicio
{{/link-to}}
</li>
<li>
{{#link-to 'establecimiento-de-criterios'}}
  establecimiento de criterios
{{/link-to}}
</li>
{{outlet}}
</ul>
